.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 80px;
  width: 200px;
  padding-top: 10px;
  border-right: 1px solid gray;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}

.sidebar nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  list-style: none;
  height: 30px;
  margin: 5px 0px;
  width: 100%;
}

.sidebar nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  color: var(--color-blue-dark);
}
